h1 {
  color: #fd385d;
  font-size: 2em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
}

th {
  border: 1px solid #f3f3ff;
  text-align: left;
  padding: 8px;
  color: #fd385d;
}

td {
  border: 1px solid #f3f3ff;
  text-align: left;
  padding: 8px;
  color: #f3f3f3;
}

tr:nth-child(even) {
  background-color: #fd385d;
  color: #f3f3ff;
}
